.git
.github
.vscode
.idea

node_modules
**/node_modules

.next
**/.next

dist
**/dist

coverage
**/coverage

.env
.env.*
!.env.example

*.log

package-lock.json
**/package-lock.json

apps/web
apps/mobile

docker
